
<!DOCTYPE html>
<html lang="no" style="background-color: #EFEFEF;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ partial "meta.html" . }}
        {{if .IsHome}}
        <title>Electric Vehicle Knowledge eXchange- Everything about all-electric cars</title>
        {{else}}
        <title>{{ .Title }} :: EVKX.net</title>
        {{end}}
        <link rel="shortcut icon" href="{{" images/favicon.png" | relURL}}" type="image/x-icon" />
        <link href="{{"css/bootstrap.min.css" | relURL}}" rel="stylesheet">
        <link rel="preconnect" href='https://rsms.me/'>
        <link rel="stylesheet" href='https://rsms.me/inter/inter.css'>
        
        {{ partial "custom-head2.html" . }}
        <style>
          :root #header + #content > #left > #rlblock_left {
            display:none !important;
          }
        </style>
      
      <link rel="stylesheet" href="/public/assets/entrypoint.css">
      </head>

<body data-url="{{ .RelPermalink }}">
    {{ partial "navbar.html" . }}
    <div class="container" id="root"></div>
    <script type="module" src="/public/assets/entrypoint.js"></script>
    <footer class="container bg-dark">          
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/evkx.net">Facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com/channel/UCQ1Q_faRR0AF0gAZABvcKFw">Youtube</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/evkxnet/">Instagram</a>
        </li>
      </ul>
      <a class="navbar-brand" href="/">
        <img class="img-fluid mx-auto d-block" src="/images/evkxblacktrans_m.png" alt="EVKX logo">
      </a>
  </footer>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>

