
<!DOCTYPE html>
<html lang="no" style="background-color: #EFEFEF;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ partial "meta.html" . }}
        {{if .IsHome}}
        <title>Electric Vehicle Knowledge eXchange- Everything about all-electric cars</title>
        {{else}}
        <title>{{ .Title }} :: EVKX.net</title>
        {{end}}
        <link rel="shortcut icon" href="{{"images/favicon.png" | relURL}}" type="image/x-icon" />
        <link href="{{"css/font-awesome.min.css" | relURL}}" rel="stylesheet">
        <link href="{{"css/evkx.css" | relURL}}" rel="stylesheet">
        <link rel="preconnect" href='https://rsms.me/'>
        <link rel="stylesheet" href='https://rsms.me/inter/inter.css'>
        {{with .Site.Params.themeStyle}}
        <link href="{{(printf "css/%s.css" .) | relURL}}" rel="stylesheet">
        {{else}}
        <link href="{{"css/theme.css" | relURL}}" rel="stylesheet">
        {{end}}
        {{with .Site.Params.themeVariant}}
          <link href="{{(printf "css/theme-%s.css" .) | relURL}}" rel="stylesheet">
        {{end}}
        
        {{ partial "custom-head2.html" . }}
        <style>
          :root #header + #content > #left > #rlblock_left {
            display:none !important;
          }
        </style>
            <link rel="stylesheet" href="/public/assets/entrypoint.css">
      </head>

<body data-url="{{ .RelPermalink }}">
    {{ partial "topbar.html" . }}
    <div id="root"></div>
    <script type="module" src="/public/assets/entrypoint.js"></script>
    {{ partial "footer-content.html" . }}
</body>
</html>

