<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}" class="js csstransforms3d">
   {{ partial "headstandard.html" . }}
<body data-url="{{ .RelPermalink }}" class="bg-light">
    {{ partial "navbar.html" . }}
	<div class="container p-0 bg-white">
      	{{ partial "addsensetop.html" . }}
      	<aside>
			{{ partial "menuaccordion.html" . }}
      	</aside>
      	<main>
			<div class="row">
				<div class="col-12 col-xl-8 col-xxl-7 p-4" >
					{{ partial "breadcrumb.html" . }}
					{{ partial "titleandcontent.html" . }}
				</div>
				<div class="col-xl-4 col-xxl-5 p-4 d-none d-lg-block">
					{{ partial "models-new.html" . }}
				</div>
			</div>
			{{ partial "githubedit.html" . }}
		</main>
		<footer class="container bg-dark">          
			{{ partial "footer.html" . }}
		</footer>
	</div> <!-- End container -->
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
