
                </div>
              </div>
            </div><!-- End adocs-content -->

            {{ if and (or .IsPage .IsSection) .Site.Params.editURL }}
              {{ $File := .File }}
              {{ $Site := .Site }}
              {{with $File.Path }}
                <div id="top-github-link">
                  <a class="" href="{{ $Site.Params.editURL }}{{ replace $File.Dir "\\" "/" }}{{ $File.LogicalName }}" target="blank">
                    <i class="fa fa-code-fork"></i>
                    {{T "Edit-this-page"}}
                  </a>
                </div>
              {{ end }}
            {{ end }}

        </section>


        </div> <!-- End col-sm-12 -->
      </div> <!-- End row -->
    </div>
    </div> <!-- End container -->

    {{ partial "footer-content.html" . }}

    <div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;">
      <div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"></div>
    </div>

    <script src="{{"js/altinninfoportal.js" | relURL}}"></script>
    <script src="{{"js/altinndocs-learn.js" | relURL}}"></script>

    <script src="{{"js/stickysidebar/rAF.js" | relURL}}"></script>
    <script src="{{"js/stickysidebar/ResizeSensor.js" | relURL}}"></script>
    <script src="{{"js/stickysidebar/sticky-sidebar.js" | relURL}}"></script>
    
    <script>
      var a = new StickySidebar('#sidebar', {
        topSpacing: 20,
        bottomSpacing: 60,
        containerSelector: '.adocs-scrollcontainer',
        innerWrapperSelector: '.sidebar__inner',
        minWidth: 768
      });
    </script>

    {{ partial "custom-footer.html" . }}

  </body>
</html>
