<div class="container">
<h3>Latest online EV-reviews</h2>
	<div class="row">
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/bmw/i7/i7_m70_xdrive/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/TbXX684UiMY/sddefault.jpg" width="640" height="480" alt="The most powerful 7 Series! BMW i7 M70 driving REVIEW" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Autogefühl : BMW i7 M70 xDrive</span>
					</div>
				</div>
				<h2 class="a-h4">The most powerful 7 Series! BMW i7 M70 driving REVIEW</h2>
				<p>Autogefühl - 30.09.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/bmw/i7/i7_m70_xdrive/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/__T6SNGsF2Y/sddefault.jpg" width="640" height="480" alt="I Drive The Incredible BMW i7 M70 EV For The First Time! The Ultimate 7 Series" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Out of Spec Reviews : BMW i7 M70 xDrive</span>
					</div>
				</div>
				<h2 class="a-h4">I Drive The Incredible BMW i7 M70 EV For The First Time! The Ultimate 7 Series</h2>
				<p>Out of Spec Reviews - 25.09.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/jeep/avenger/avenger/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/ZcO0UbNRY0k/sddefault.jpg" width="640" height="480" alt="Jeep Avenger range test" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Jeep Avenger</span>
					</div>
				</div>
				<h2 class="a-h4">Jeep Avenger range test</h2>
				<p>Bjørn Nyland - 24.09.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/citroën/ë-c4/ë-c4_x/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/e69e4v1_QMw/sddefault.jpg" width="640" height="480" alt="Citroen e-C4X driving impressions" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Citroën ë-C4 X</span>
					</div>
				</div>
				<h2 class="a-h4">Citroen e-C4X driving impressions</h2>
				<p>Bjørn Nyland - 22.09.2023</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/citroën/ë-c4/ë-c4_x/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/u4WbGvxdB8E/sddefault.jpg" width="640" height="480" alt="Citroen e-C4X Sunday driving" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Citroën ë-C4 X</span>
					</div>
				</div>
				<h2 class="a-h4">Citroen e-C4X Sunday driving</h2>
				<p>Bjørn Nyland - 22.09.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/jeep/avenger/avenger/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/jnWpyCLQJHg/sddefault.jpg" width="640" height="480" alt="Jeep Avenger | Range Test" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Kris Rifa : Jeep Avenger</span>
					</div>
				</div>
				<h2 class="a-h4">Jeep Avenger | Range Test</h2>
				<p>Kris Rifa - 22.09.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/citroën/ë-c4/ë-c4_x/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/dW5LC4Iu7nI/sddefault.jpg" width="640" height="480" alt="Citroen e-C4X charging test" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Citroën ë-C4 X</span>
					</div>
				</div>
				<h2 class="a-h4">Citroen e-C4X charging test</h2>
				<p>Bjørn Nyland - 21.09.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/jeep/avenger/avenger/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/QdQjxj340Xk/sddefault.jpg" width="640" height="480" alt="FIRST DRIVE: Jeep Avenger small electric SUV. Superhero or villain? | Electrifying" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Electrifying : Jeep Avenger</span>
					</div>
				</div>
				<h2 class="a-h4">FIRST DRIVE: Jeep Avenger small electric SUV. Superhero or villain? | Electrifying</h2>
				<p>Electrifying - 21.09.2023</p>
			</a>
		</div>
	</div>
	</div>
