<div class="container">
<h3>Latest online EV-reviews</h2>
	<div class="row">
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/honda/e_ny1/e_ny1/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/0BY0EO7VymY/sddefault.jpg" width="640" height="480" alt="Honda e:Ny1 range test" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Honda e:Ny1</span>
					</div>
				</div>
				<h2 class="a-h4">Honda e:Ny1 range test</h2>
				<p>Bjørn Nyland - 15.10.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/hyundai/ioniq_5/ioniq_5_n/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/1N81QvAJRkI/sddefault.jpg" width="640" height="480" alt="FIRST DRIVE: Hyundai Ioniq 5 N, 641bhp Hyper-Hatch!" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Top Gear : Hyundai Ioniq 5 N</span>
					</div>
				</div>
				<h2 class="a-h4">FIRST DRIVE: Hyundai Ioniq 5 N, 641bhp Hyper-Hatch!</h2>
				<p>Top Gear - 10.10.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/lucid/air/air_sapphire/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/3GV3aJVXdfA/sddefault.jpg" width="640" height="480" alt="The Lucid Air Sapphire Is the Ultimate Fast $250,000 Luxury Car" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Doug DeMuro : Lucid Air Sapphire</span>
					</div>
				</div>
				<h2 class="a-h4">The Lucid Air Sapphire Is the Ultimate Fast $250,000 Luxury Car</h2>
				<p>Doug DeMuro - 10.10.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/mercedes/eqs_suv/eqs_680_suv/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/HaQT-51hGyc/sddefault.jpg" width="640" height="480" alt="Mercedes-Maybach EQS 680 SUV: Who is it for?" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">MotoManTV : Mercedes EQS 680 SUV</span>
					</div>
				</div>
				<h2 class="a-h4">Mercedes-Maybach EQS 680 SUV: Who is it for?</h2>
				<p>MotoManTV - 09.10.2023</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/hyundai/ioniq_6/ioniq_6_long_range_awd/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/rPBiPnP0A5Q/sddefault.jpg" width="640" height="480" alt="Hyundai IONIQ 6 Crushes The 10% Challenge! Huge Result For A Great Car" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Out of Spec Reviews : Hyundai Ioniq 6 Long Range AWD</span>
					</div>
				</div>
				<h2 class="a-h4">Hyundai IONIQ 6 Crushes The 10% Challenge! Huge Result For A Great Car</h2>
				<p>Out of Spec Reviews - 08.10.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/tesla/model_y/model_y_standard_range/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/YBA7_eG2lNk/sddefault.jpg" width="640" height="480" alt="Barely Acceptable - 70MPH Highway Range Test In 2023 Model Y AWD 4680 Batter" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Branden Flasch : Tesla Model Y Standard Range</span>
					</div>
				</div>
				<h2 class="a-h4">Barely Acceptable - 70MPH Highway Range Test In 2023 Model Y AWD 4680 Batter</h2>
				<p>Branden Flasch - 07.10.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/lexus/rz/rz_450e/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/yOeDJ7s_LCc/sddefault.jpg" width="640" height="480" alt="I Drive The Electric Lexus RZ 450e For The First Time! Is This A Joke?" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Out of Spec Reviews : Lexus RZ 450e</span>
					</div>
				</div>
				<h2 class="a-h4">I Drive The Electric Lexus RZ 450e For The First Time! Is This A Joke?</h2>
				<p>Out of Spec Reviews - 06.10.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/byd/dolphin/dolphin_60.4kwh/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/Rik6rDkx5Hg/sddefault.jpg" width="640" height="480" alt="BYD Dolphin - 9 things we LOVE and… 5 we HATE" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Electrifying : BYD Dolphin 60.4kWh</span>
					</div>
				</div>
				<h2 class="a-h4">BYD Dolphin - 9 things we LOVE and… 5 we HATE</h2>
				<p>Electrifying - 05.10.2023</p>
			</a>
		</div>
	</div>
	</div>
