<div class="container">
<h3>Latest online EV-reviews</h2>
	<div class="row">
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/hyundai/ioniq_6/ioniq_6_long_range_awd/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/rPBiPnP0A5Q/sddefault.jpg" width="640" height="480" alt="Hyundai IONIQ 6 Crushes The 10% Challenge! Huge Result For A Great Car" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Out of Spec Reviews : Hyundai Ioniq 6 Long Range AWD</span>
					</div>
				</div>
				<h2 class="a-h4">Hyundai IONIQ 6 Crushes The 10% Challenge! Huge Result For A Great Car</h2>
				<p>Out of Spec Reviews - 08.10.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/tesla/model_y/model_y_standard_range/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/YBA7_eG2lNk/sddefault.jpg" width="640" height="480" alt="Barely Acceptable - 70MPH Highway Range Test In 2023 Model Y AWD 4680 Batter" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Branden Flasch : Tesla Model Y Standard Range</span>
					</div>
				</div>
				<h2 class="a-h4">Barely Acceptable - 70MPH Highway Range Test In 2023 Model Y AWD 4680 Batter</h2>
				<p>Branden Flasch - 07.10.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/lexus/rz/rz_450e/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/yOeDJ7s_LCc/sddefault.jpg" width="640" height="480" alt="I Drive The Electric Lexus RZ 450e For The First Time! Is This A Joke?" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Out of Spec Reviews : Lexus RZ 450e</span>
					</div>
				</div>
				<h2 class="a-h4">I Drive The Electric Lexus RZ 450e For The First Time! Is This A Joke?</h2>
				<p>Out of Spec Reviews - 06.10.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/byd/dolphin/dolphin_60.4kwh/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/Rik6rDkx5Hg/sddefault.jpg" width="640" height="480" alt="BYD Dolphin - 9 things we LOVE and… 5 we HATE" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Electrifying : BYD Dolphin 60.4kWh</span>
					</div>
				</div>
				<h2 class="a-h4">BYD Dolphin - 9 things we LOVE and… 5 we HATE</h2>
				<p>Electrifying - 05.10.2023</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/fiat/600e/600e/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/AXGNb76QgH0/sddefault.jpg" width="640" height="480" alt="NEW Fiat 600E Review: Fun For All The Family? | 4K" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">AutoTrader : Fiat 600e</span>
					</div>
				</div>
				<h2 class="a-h4">NEW Fiat 600E Review: Fun For All The Family? | 4K</h2>
				<p>AutoTrader - 05.10.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/lexus/rz/rz_450e/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/yMc9RwQxLU0/sddefault.jpg" width="640" height="480" alt="Yiiiiiikes! Brutal Results For The Lexus RZ450e Highway Electric Range Test" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Out of Spec Reviews : Lexus RZ 450e</span>
					</div>
				</div>
				<h2 class="a-h4">Yiiiiiikes! Brutal Results For The Lexus RZ450e Highway Electric Range Test</h2>
				<p>Out of Spec Reviews - 05.10.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/zeekr/x/x_privilege_awd/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/HY066eEnJdM/sddefault.jpg" width="640" height="480" alt="Zeekr X driving REVIEW - seeking Audi BMW Mercedes?" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Autogefühl : Zeekr X Privilege AWD</span>
					</div>
				</div>
				<h2 class="a-h4">Zeekr X driving REVIEW - seeking Audi BMW Mercedes?</h2>
				<p>Autogefühl - 05.10.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/fisker/ocean/ocean_extreme/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/ZTjDEYQpCRY/sddefault.jpg" width="640" height="480" alt="Prøvekjørt Fisker Ocean One. Hvor bra er den?" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Norsk elbilforening : Fisker Ocean Extreme</span>
					</div>
				</div>
				<h2 class="a-h4">Prøvekjørt Fisker Ocean One. Hvor bra er den?</h2>
				<p>Norsk elbilforening - 04.10.2023</p>
			</a>
		</div>
	</div>
	</div>
