<div class="container">
	<div class="row">
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/audi/q4_e-tron/q4_55_e-tron_quattro/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/audi/q4_e-tron/q4_55_e-tron_quattro/main_1_st.jpg" width="800" height="532" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Audi Q4 55 e-tron quattro</span>
					</div>
				</div>
				<h2 class="a-h2">Audi Q4 55 e-tron quattro</h2>
				<p class="a-js-truncate-2">Audi Q4 55 e-tron quattro is an all-electric premium SUV with a WLTP range of up to 523 km (325 miles). EVKX.net have all the details. </p>
			</a>
		</div>
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/volkswagen/id.4/id.4_gtx_4motion/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/volkswagen/id.4/id.4_gtx_4motion/main_1_st.jpg" width="800" height="533" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Volkswagen ID.4 GTX 4MOTION</span>
					</div>
				</div>
				<h2 class="a-h2">Volkswagen ID.4 GTX 4MOTION</h2>
				<p class="a-js-truncate-2">Volkswagen ID.4 GTX 4MOTION is an all-electric SUV with a WLTP range of up to 515 km (320 miles). EVKX.net have all the details. </p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/citroën/ë-c3/ë-c3/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/citroën/ë-c3/ë-c3/main_1_st.jpg" width="800" height="400" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Citroën ë-C3</span>
					</div>
				</div>
				<h2 class="a-h2">Citroën ë-C3</h2>
				<p class="a-js-truncate-2">Citroën ë-C3 is an all-electric crossover with a WLTP range of up to 320 km (199 miles). EVKX.net have all the details. </p>
			</a>
		</div>
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/volkswagen/id.5/id.5_pro/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/volkswagen/id.5/id.5_pro/main_1_st.jpg" width="800" height="533" class="img-fluid">
					<div class="a-illustration-overlay">
						<span class="sr-only">Volkswagen ID.5 Pro</span>
					</div>
				</div>
				<h2 class="a-h2">Volkswagen ID.5 Pro</h2>
				<p class="a-js-truncate-2">Volkswagen ID.5 Pro is an all-electric SUV with a WLTP range of up to 556 km (346 miles). EVKX.net have all the details. </p>
			</a>
		</div>
	</div>
	</div>
