<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}" class="js csstransforms3d">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "meta.html" . }}
    {{if .IsHome}}
    <title>Electric Vehicle Knowledge eXchange- Everything about all-electric cars</title>
    {{else}}
    <title>{{ .Title }} :: EVKX.net</title>
    {{end}}
    <link rel="shortcut icon" href="{{"images/favicon.png" | relURL}}" type="image/x-icon" />
    <link href="{{"css/font-awesome.min.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/hybrid.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/fortawesome.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/evkx.css" | relURL}}" rel="stylesheet">
     {{with .Site.Params.themeVariant}}
      <link href="{{(printf "css/theme-%s.css" .) | relURL}}" rel="stylesheet">
    {{end}}
    
    {{ partial "custom-head.html" . }}
    <style>
      :root #header + #content > #left > #rlblock_left {
        display:none !important;
      }
    </style>
  </head>
  <body class="a-page" data-url="{{ .RelPermalink }}">
    {{ partial "topbar.html" . }}
    <div align="center">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6415007331199958"
      crossorigin="anonymous"></script>
  <!-- EVKX Top Display Add -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-6415007331199958"
      data-ad-slot="7805150783"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  </div>
 
    {{ partial "toparticle.html" . }}

    {{ partial "secondrowarticles.html" . }}

    {{ partial "latestreviews.html" . }}

    <div class="container pt-2 pt-md-3 pt-lg-5">
    <div class="row adocs-featuredBlocks">
        <div class="col-12 col-lg-4 mb-5">
            {{ partial "models-new.html" . }}
        </div>
        <div class="col-12 col-lg-4 mb-5">
            {{ partial "technology.html" . }}
        </div>
        <div class="col-12 col-lg-4 mb-5">
            {{ partial "guides.html" . }}
          </div>
      </div>
      <div class="adocs-scrollcontainer d-none">
        <div class="row">
            <div class="col-sm-12">

        <section>
          <div id="content" class="adocs-content js-moveChildrenTo">
        <div id="overlay"></div>
        <div class="a-text">
        <div id="body-inner"> 
