<div class="container">
<h2 class="a-h3">Latest online EV-reviews</h2>
	<div class="row">
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/bmw/ix1/ix1_xdrive30/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/Z4Y5hJeqJso/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : BMW iX1 xDrive30</span>
					</div>
				</div>
				<h2 class="a-h4">BMW iX1 xDrive30 range test</h2>
				<p class="a-js-truncate-2">Bjørn Nyland - 21.04.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/mercedes/eqe/eqe_53_4maticplus/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/WEmPl-ACpHI/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Kris Rifa : Mercedes EQE 53 4MATIC+</span>
					</div>
				</div>
				<h2 class="a-h4">EQE 53 AMG..... I WAS NOT EXPECTING THIS...</h2>
				<p class="a-js-truncate-2">Kris Rifa - 20.04.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/bmw/ix1/ix1_xdrive30/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/7TCdiXgUZM4/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : BMW iX1 xDrive30</span>
					</div>
				</div>
				<h2 class="a-h4">BMW iX1 headlights test</h2>
				<p class="a-js-truncate-2">Bjørn Nyland - 20.04.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/bmw/ix1/ix1_xdrive30/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/GHc4dRtohu8/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : BMW iX1 xDrive30</span>
					</div>
				</div>
				<h2 class="a-h4">BMW iX1 xDrive30 1000 km challenge</h2>
				<p class="a-js-truncate-2">Bjørn Nyland - 19.04.2023</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/mercedes/eqs_suv/eqs_680_suv/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/EkGVi_JiV7M/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Autogefûhl : Mercedes EQS 680 SUV</span>
					</div>
				</div>
				<h2 class="a-h4">First-ever electric Maybach! Mercedes-Maybach EQS SUV luxury REVIEW</h2>
				<p class="a-js-truncate-2">Autogefûhl - 17.04.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/mercedes/eqs_suv/eqs_680_suv/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/oDtwomm0yYc/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">InsideEVs : Mercedes EQS 680 SUV</span>
					</div>
				</div>
				<h2 class="a-h4">2024 Mercedes-Maybach EQS SUV: InsideEVs First Look Debut</h2>
				<p class="a-js-truncate-2">InsideEVs - 17.04.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/mercedes/eqs_suv/eqs_680_suv/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/3sECjvdCgQk/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">AutoTrader : Mercedes EQS 680 SUV</span>
					</div>
				</div>
				<h2 class="a-h4">Maybach EQS SUV First Look: The FINEST Maybach Ever?</h2>
				<p class="a-js-truncate-2">AutoTrader - 17.04.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/volkswagen/id.7/id.7_pro/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/q94HRVxDe4w/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Volkswagen ID.7 Pro</span>
					</div>
				</div>
				<h2 class="a-h4">VW ID7 prototype interior review</h2>
				<p class="a-js-truncate-2">Bjørn Nyland - 17.04.2023</p>
			</a>
		</div>
	</div>
	</div>
