<div class="container">
<h2 class="a-h3">Latest online EV-reviews</h2>
	<div class="row">
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/citroën/ë-c4/ë-c4_x/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/e69e4v1_QMw/sddefault.jpg" width="640" height="480" alt="Citroen e-C4X driving impressions">
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Citroën ë-C4 X</span>
					</div>
				</div>
				<h2 class="a-h4">Citroen e-C4X driving impressions</h2>
				<p class="a-js-truncate-2">Bjørn Nyland - 22.09.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/citroën/ë-c4/ë-c4_x/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/u4WbGvxdB8E/sddefault.jpg" width="640" height="480" alt="Citroen e-C4X Sunday driving">
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Citroën ë-C4 X</span>
					</div>
				</div>
				<h2 class="a-h4">Citroen e-C4X Sunday driving</h2>
				<p class="a-js-truncate-2">Bjørn Nyland - 22.09.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/jeep/avenger/avenger/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/jnWpyCLQJHg/sddefault.jpg" width="640" height="480" alt="Jeep Avenger | Range Test">
					<div class="a-illustration-overlay">
						<span class="sr-only">Kris Rifa : Jeep Avenger</span>
					</div>
				</div>
				<h2 class="a-h4">Jeep Avenger | Range Test</h2>
				<p class="a-js-truncate-2">Kris Rifa - 22.09.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/citroën/ë-c4/ë-c4_x/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/dW5LC4Iu7nI/sddefault.jpg" width="640" height="480" alt="Citroen e-C4X charging test">
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Citroën ë-C4 X</span>
					</div>
				</div>
				<h2 class="a-h4">Citroen e-C4X charging test</h2>
				<p class="a-js-truncate-2">Bjørn Nyland - 21.09.2023</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/jeep/avenger/avenger/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/QdQjxj340Xk/sddefault.jpg" width="640" height="480" alt="FIRST DRIVE: Jeep Avenger small electric SUV. Superhero or villain? | Electrifying">
					<div class="a-illustration-overlay">
						<span class="sr-only">Electrifying : Jeep Avenger</span>
					</div>
				</div>
				<h2 class="a-h4">FIRST DRIVE: Jeep Avenger small electric SUV. Superhero or villain? | Electrifying</h2>
				<p class="a-js-truncate-2">Electrifying - 21.09.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/jeep/avenger/avenger/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/vqJX4FuVB2g/sddefault.jpg" width="640" height="480" alt="Jeep Avenger Review: Is It REALLY Car Of The Year?">
					<div class="a-illustration-overlay">
						<span class="sr-only">AutoTrader : Jeep Avenger</span>
					</div>
				</div>
				<h2 class="a-h4">Jeep Avenger Review: Is It REALLY Car Of The Year?</h2>
				<p class="a-js-truncate-2">AutoTrader - 20.09.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/nio/et5/et5_touring/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/-gajenBF4ac/sddefault.jpg" width="640" height="480" alt="Nio ET5 Touring test drive">
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Nio ET5 Touring</span>
					</div>
				</div>
				<h2 class="a-h4">Nio ET5 Touring test drive</h2>
				<p class="a-js-truncate-2">Bjørn Nyland - 20.09.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/nio/et5/et5_touring/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/5ShKy-rZRaA/sddefault.jpg" width="640" height="480" alt="Nio ET5 Touring first impressions">
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Nio ET5 Touring</span>
					</div>
				</div>
				<h2 class="a-h4">Nio ET5 Touring first impressions</h2>
				<p class="a-js-truncate-2">Bjørn Nyland - 20.09.2023</p>
			</a>
		</div>
	</div>
	</div>
