<div class="container">
<h2 class="a-h3">Latest online EV-reviews</h2>
	<div class="row">
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/toyota/bz4x/bz4x_awd/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/hXRp357Usq4/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Toyota bZ4X AWD</span>
					</div>
				</div>
				<h2 class="a-h4">Bjørn Nyland : Toyota bZ4X AWD</h2>
				<p class="a-js-truncate-2">Toyota bZ4X 1000 km challenge - 09.03.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/mercedes/eqs_suv/eqs_580_4matic_suv/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/D-ej66q1u3A/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Kris Rifa : Mercedes EQS 580 4MATIC SUV</span>
					</div>
				</div>
				<h2 class="a-h4">Kris Rifa : Mercedes EQS 580 4MATIC SUV</h2>
				<p class="a-js-truncate-2">120kph/75mph Range Test In The Mercedes EQS SUV 580 4-Matic - 08.03.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/toyota/bz4x/bz4x_awd/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/MEp0IovQQ_E/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Toyota bZ4X AWD</span>
					</div>
				</div>
				<h2 class="a-h4">Bjørn Nyland : Toyota bZ4X AWD</h2>
				<p class="a-js-truncate-2">Toyota bZ4X interior review & door slamming disco - 07.03.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/toyota/bz4x/bz4x_awd/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/CU8yUzUYGsU/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Toyota bZ4X AWD</span>
					</div>
				</div>
				<h2 class="a-h4">Bjørn Nyland : Toyota bZ4X AWD</h2>
				<p class="a-js-truncate-2">Toyota bZ4X AWD range test - 06.03.2023</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/mercedes/eqs_suv/eqs_580_4matic_suv/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/p99juX_hQwk/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Kris Rifa : Mercedes EQS 580 4MATIC SUV</span>
					</div>
				</div>
				<h2 class="a-h4">Kris Rifa : Mercedes EQS 580 4MATIC SUV</h2>
				<p class="a-js-truncate-2">Mercedes EQS SUV Road Trip | 500km across Norway - 05.03.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/toyota/bz4x/bz4x_awd/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/dQIPhgNZ22I/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Toyota bZ4X AWD</span>
					</div>
				</div>
				<h2 class="a-h4">Bjørn Nyland : Toyota bZ4X AWD</h2>
				<p class="a-js-truncate-2">Toyota bZ4X banana box test - 04.03.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/tesla/model_s/model_s/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/yndpiw-GOnw/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Tesla Model S</span>
					</div>
				</div>
				<h2 class="a-h4">Bjørn Nyland : Tesla Model S</h2>
				<p class="a-js-truncate-2">Tesla Model S LR Palladium 1000 km challenge - 03.03.2023</p>
			</a>
		</div>
		<div class="col-12 col-lg-3">
			<a href="{{ with .Site.GetPage `/models/tesla/model_s/model_s/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://img.youtube.com/vi/baRRL9bM71c/sddefault.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Bjørn Nyland : Tesla Model S</span>
					</div>
				</div>
				<h2 class="a-h4">Bjørn Nyland : Tesla Model S</h2>
				<p class="a-js-truncate-2">Tesla Model S LR Palladium range test - 02.03.2023</p>
			</a>
		</div>
	</div>
	</div>
