<div class="container">
	<div class="row">
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/hyundai/kona/kona_standard_range/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/hyundai/kona/kona_standard_range/main_1_st.jpg" width="800" height="533">
					<div class="a-illustration-overlay">
						<span class="sr-only">Hyundai Kona Standard Range</span>
					</div>
				</div>
				<h2 class="a-h2">Hyundai Kona Standard Range</h2>
				<p class="a-js-truncate-2">Hyundai Kona Standard Range is an all-electric crossover with a WLTP range of up to 377 km (234 miles). EVKX.net have all the details. </p>
			</a>
		</div>
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/smart/hash1/hash1_pulse/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/smart/hash1/hash1_pulse/main_1_st.jpg" width="800" height="600">
					<div class="a-illustration-overlay">
						<span class="sr-only">Smart #1 Pulse</span>
					</div>
				</div>
				<h2 class="a-h2">Smart #1 Pulse</h2>
				<p class="a-js-truncate-2">Smart #1 Pulse is an all-electric crossover with a WLTP range of up to 400 km (249 miles). EVKX.net have all the details. </p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/hyundai/kona/kona_long_range/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/hyundai/kona/kona_long_range/main_1_st.jpg" width="800" height="533">
					<div class="a-illustration-overlay">
						<span class="sr-only">Hyundai Kona Long Range</span>
					</div>
				</div>
				<h2 class="a-h2">Hyundai Kona Long Range</h2>
				<p class="a-js-truncate-2">Hyundai Kona Long Range is an all-electric crossover with a WLTP range of up to 514 km (319 miles). EVKX.net have all the details. </p>
			</a>
		</div>
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/peugot/3008/e-3008_long_range/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/peugot/3008/e-3008_long_range/main_1_st.jpg" width="800" height="500">
					<div class="a-illustration-overlay">
						<span class="sr-only">Peugot E-3008 Long Range</span>
					</div>
				</div>
				<h2 class="a-h2">Peugot E-3008 Long Range</h2>
				<p class="a-js-truncate-2">Peugot E-3008 Long Range is an all-electric coupe SUV with a WLTP range of up to 700 km (435 miles). EVKX.net have all the details. </p>
			</a>
		</div>
	</div>
	</div>
