<div class="container">
	<div class="row">
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/hiphi/x/x_4_seater/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/hiphi/x/x_4_seater/main_1_st.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">HiPhi X 4 Seater</span>
					</div>
				</div>
				<h2 class="a-h2">HiPhi X 4 Seater</h2>
				<p class="a-js-truncate-2">HiPhi X 4 Seater is an all-electric luxury SUV with a WLTP range of up to 460 km (286 miles). EVKX.net have all the details. </p>
			</a>
		</div>
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/hiphi/z/z_5_seater/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/hiphi/z/z_5_seater/main_1_st.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">HiPhi Z 5 Seater</span>
					</div>
				</div>
				<h2 class="a-h2">HiPhi Z 5 Seater</h2>
				<p class="a-js-truncate-2">HiPhi Z 5 Seater is an all-electric luxury sedan with a WLTP range of up to 555 km (345 miles). EVKX.net have all the details. </p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/hiphi/z/z_4_seater/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/hiphi/z/z_4_seater/main_1_st.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">HiPhi Z 4 Seater</span>
					</div>
				</div>
				<h2 class="a-h2">HiPhi Z 4 Seater</h2>
				<p class="a-js-truncate-2">HiPhi Z 4 Seater is an all-electric luxury sedan with a WLTP range of up to 555 km (345 miles). EVKX.net have all the details. </p>
			</a>
		</div>
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/hiphi/x/x_6_seater/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/hiphi/x/x_6_seater/main_1_st.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">HiPhi X 6 Seater</span>
					</div>
				</div>
				<h2 class="a-h2">HiPhi X 6 Seater</h2>
				<p class="a-js-truncate-2">HiPhi X 6 Seater is an all-electric luxury SUV with a WLTP range of up to 460 km (286 miles). EVKX.net have all the details. </p>
			</a>
		</div>
	</div>
	</div>
