<div class="container">
	<div class="row">
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/bmw/i7/i7_m70_xdrive/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/bmw/i7/i7_m70_xdrive/main_1_st.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">BMW i7 M70 xDrive</span>
					</div>
				</div>
				<h2 class="a-h2">BMW i7 M70 xDrive</h2>
				<p class="a-js-truncate-2">BMW i7 M70 xDrive is an all-electric luxury sedan with a WLTP range of up to 560 km (348 miles). EVKX.net have all the details. </p>
			</a>
		</div>
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/mercedes/eqs_suv/eqs_680_suv/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/mercedes/eqs_suv/eqs_680_suv/main_1_st.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Mercedes EQS 680 SUV</span>
					</div>
				</div>
				<h2 class="a-h2">Mercedes EQS 680 SUV</h2>
				<p class="a-js-truncate-2">Mercedes-Maybach EQS 680 SUV is an all-electric luxury sedan with a WLTP range of up to 600 km (373 miles). EVKX.net have all the details. </p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/polestar/2/2_long_range_single_motor/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/polestar/2/2_long_range_single_motor/main_1_st.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Polestar 2 Long Range Single Motor</span>
					</div>
				</div>
				<h2 class="a-h2">Polestar 2 Long Range Single Motor</h2>
				<p class="a-js-truncate-2">Polestar 2 Long Range Single Motor is an all-electric sedan with a WLTP range of up to 635 km (395 miles). EVKX.net have all the details. </p>
			</a>
		</div>
		<div class="col-12 col-lg-6">
			<a href="{{ with .Site.GetPage `/models/porsche/taycan/taycan_turbo_s_sport_turismo/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/porsche/taycan/taycan_turbo_s_sport_turismo/main_1_st.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Porsche Taycan Turbo S Sport Turismo</span>
					</div>
				</div>
				<h2 class="a-h2">Porsche Taycan Turbo S Sport Turismo</h2>
				<p class="a-js-truncate-2">Porsche Taycan Turbo S Sport Turismo is an all-electric station wagon with a WLTP range of up to 457 km (284 miles). EVKX.net have all the details. </p>
			</a>
		</div>
	</div>
	</div>
