<div class="container">
	<div class="row">
		<div class="col-12 col-lg-12 mb-12">
			<a href="{{ with .Site.GetPage `/models/volkswagen/id._buzz/id._buzz_pro_lwb/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/volkswagen/id._buzz/id._buzz_pro_lwb/main_1_mt.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Volkswagen ID. Buzz Pro LWB</span>
					</div>
				</div>
				<h2 class="a-h2">Volkswagen ID. Buzz Pro LWB</h2>
				<p class="a-js-truncate-2">Volkswagen ID. Buzz Pro LWB is an all-electric MPV with a WLTP range of up to 461 km (287 miles). EVKX.net have all the details. </p>
			</a>
		</div>
	</div>
</div>
