<div class="container">
	<div class="row">
		<div class="col-12 col-lg-12 mb-12">
			<a href="{{ with .Site.GetPage `/models/bmw/i5/i5_m60_xdrive/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/bmw/i5/i5_m60_xdrive/main_1_mt.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">BMW i5 M60 xDrive</span>
					</div>
				</div>
				<h2 class="a-h2">BMW i5 M60 xDrive</h2>
				<p class="a-js-truncate-2">BMW i5 M60 xDrive is an all-electric premium sedan with a WLTP range of up to 516 km (321 miles). EVKX.net have all the details. </p>
			</a>
		</div>
	</div>
</div>
