<div class="container">
	<div class="row">
		<div class="col-12 col-lg-12 mb-12">
			<a href="{{ with .Site.GetPage `/models/tesla/model_s/model_s/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
				<div class="">
					<img src="https://media.evkx.net/multimedia/models/tesla/model_s/model_s/main_1_mt.jpg" >
					<div class="a-illustration-overlay">
						<span class="sr-only">Tesla Model S</span>
					</div>
				</div>
				<h2 class="a-h2">Tesla Model S</h2>
				<p class="a-js-truncate-2">Tesla Model S is an all-electric sedan with a WLTP range of up to 649 km (403 miles). EVKX.net have all the details. </p>
			</a>
		</div>
	</div>
</div>
