
<div class="container mt-5 mb-5">
     <i class="bi-badge-ad-fill" style="font-size: 1rem;"></i>
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6415007331199958"
          crossorigin="anonymous"></script>
     <!-- EVKX Display Add Articles -->
     <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-6415007331199958"
          data-ad-slot="2354595124"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
     <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
</div>
{{.Inner}}