<div class="container mb-4">
	<div id="latestNewsCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="1" class="" aria-current="true" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="2" class="" aria-current="true" aria-label="Slide 3"></button>
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="3" class="" aria-current="true" aria-label="Slide 4"></button>
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="4" class="" aria-current="true" aria-label="Slide 5"></button>
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="5" class="" aria-current="true" aria-label="Slide 6"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active image-box">
				<a href="{{ with .Site.GetPage `/models/xpeng/g6/g6_rwd_standard_range/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/xpeng/g6/g6_rwd_standard_range/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>XPENG G6 RWD Standard Range</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-b3f065d3"}}</p>
				</div>
			</div>
			<div class="carousel-item  image-box">
				<a href="{{ with .Site.GetPage `/models/maserati/grecale/grecale_folgore/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/maserati/grecale/grecale_folgore/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>Maserati Grecale Folgore</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-a9a53827"}}</p>
				</div>
			</div>
			<div class="carousel-item  image-box">
				<a href="{{ with .Site.GetPage `/models/chevrolet/silverado_ev/silverado_ev_srt/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/chevrolet/silverado_ev/silverado_ev_srt/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>Chevrolet Silverado EV SRT</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-7a20372a"}}</p>
				</div>
			</div>
			<div class="carousel-item  image-box">
				<a href="{{ with .Site.GetPage `/models/ford/explorer/explorer_standard_range_rwd/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/ford/explorer/explorer_standard_range_rwd/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>Ford Explorer Standard Range RWD</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-a2b5a5a9"}}</p>
				</div>
			</div>
			<div class="carousel-item  image-box">
				<a href="{{ with .Site.GetPage `/models/lotus/emeya/emeya_s/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/lotus/emeya/emeya_s/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>Lotus Emeya S</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-1336d2cc"}}</p>
				</div>
			</div>
			<div class="carousel-item  image-box">
				<a href="{{ with .Site.GetPage `/models/lotus/emeya/emeya_r/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/lotus/emeya/emeya_r/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>Lotus Emeya R</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-44c8442a"}}</p>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#latestNewsCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#latestNewsCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
