<div class="container mb-4">
	<div id="latestNewsCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="1" class="" aria-current="true" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="2" class="" aria-current="true" aria-label="Slide 3"></button>
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="3" class="" aria-current="true" aria-label="Slide 4"></button>
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="4" class="" aria-current="true" aria-label="Slide 5"></button>
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="5" class="" aria-current="true" aria-label="Slide 6"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active image-box">
				<a href="{{ with .Site.GetPage `/models/skoda/enyaq_iv/enyaq_coupé_85/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/skoda/enyaq_iv/enyaq_coupé_85/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>SKODA ENYAQ COUPÉ 85</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-23251c3c"}}</p>
				</div>
			</div>
			<div class="carousel-item  image-box">
				<a href="{{ with .Site.GetPage `/models/skoda/enyaq_iv/enyaq_60/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/skoda/enyaq_iv/enyaq_60/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>SKODA ENYAQ 60</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-e15ac190"}}</p>
				</div>
			</div>
			<div class="carousel-item  image-box">
				<a href="{{ with .Site.GetPage `/models/skoda/enyaq_iv/enyaq_85/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/skoda/enyaq_iv/enyaq_85/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>SKODA ENYAQ 85</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-3c5df9ce"}}</p>
				</div>
			</div>
			<div class="carousel-item  image-box">
				<a href="{{ with .Site.GetPage `/models/skoda/enyaq_iv/enyaq_85x/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/skoda/enyaq_iv/enyaq_85x/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>SKODA ENYAQ 85x</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-6f3fd0c2"}}</p>
				</div>
			</div>
			<div class="carousel-item  image-box">
				<a href="{{ with .Site.GetPage `/models/audi/e-tron_gt/rs_e-tron_gt/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/audi/e-tron_gt/rs_e-tron_gt/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>Audi RS e-tron GT</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-8a37b11c"}}</p>
				</div>
			</div>
			<div class="carousel-item  image-box">
				<a href="{{ with .Site.GetPage `/models/audi/e-tron_gt/s_e-tron_gt/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/audi/e-tron_gt/s_e-tron_gt/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>Audi S e-tron GT</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-5993d701"}}</p>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#latestNewsCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#latestNewsCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
