<div class="container mb-4">
	<div id="latestNewsCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="1" class="" aria-current="true" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="2" class="" aria-current="true" aria-label="Slide 3"></button>
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="3" class="" aria-current="true" aria-label="Slide 4"></button>
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="4" class="" aria-current="true" aria-label="Slide 5"></button>
			<button type="button" data-bs-target="#latestNewsCarousel" data-bs-slide-to="5" class="" aria-current="true" aria-label="Slide 6"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active image-box">
				<a href="{{ with .Site.GetPage `/models/zeekr/mix/mix_standard_range_rwd/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/zeekr/mix/mix_standard_range_rwd/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>Zeekr MIX Standard Range RWD</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-bff9fe3d"}}</p>
				</div>
			</div>
			<div class="carousel-item  image-box">
				<a href="{{ with .Site.GetPage `/models/opel/grandland/grandland/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/opel/grandland/grandland/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>Opel Grandland</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-ad6172aa"}}</p>
				</div>
			</div>
			<div class="carousel-item  image-box">
				<a href="{{ with .Site.GetPage `/models/peugot/5008/e-5008/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/peugot/5008/e-5008/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>Peugot E-5008</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-82f1bd54"}}</p>
				</div>
			</div>
			<div class="carousel-item  image-box">
				<a href="{{ with .Site.GetPage `/models/nissan/ariya/ariya_nismo/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/nissan/ariya/ariya_nismo/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>Nissan Ariya NISMO</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-a0da6ccf"}}</p>
				</div>
			</div>
			<div class="carousel-item  image-box">
				<a href="{{ with .Site.GetPage `/models/omoda/e5/e5/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/omoda/e5/e5/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>OMODA E5</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-43d72223"}}</p>
				</div>
			</div>
			<div class="carousel-item  image-box">
				<a href="{{ with .Site.GetPage `/models/lynk_and_co/02/02/`}}{{.RelPermalink}}{{end}}">
					<img src="https://media.evkx.net/multimedia/models/lynk_and_co/02/02/main_1_mt.jpg" class="d-block w-100 image-cropped-calc" alt="...">
				</a>
				<div class="carousel-caption">
					<h4>Lynk & Co 02</h4>
					<p class="d-none d-md-block">{{T "frontpage-description-b36c6b58"}}</p>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#latestNewsCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#latestNewsCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
