


            {{ if and (or .IsPage .IsSection) .Site.Params.editURL }}
              {{ $File := .File }}
              {{ $Site := .Site }}
              {{with $File.Path }}
                <div id="top-github-link">
                  <a class="" href="{{ $Site.Params.editURL }}{{ replace $File.Dir "\\" "/" }}{{ $File.LogicalName }}" target="blank">
                    <i class="fa fa-code-fork"></i>
                    {{T "Edit-this-page"}}
                  </a>
                </div>
              {{ end }}
            {{ end }}
                
          </main>
          <footer class="container bg-dark">          
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link" href="https://www.facebook.com/evkx.net">Facebook</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.youtube.com/channel/UCQ1Q_faRR0AF0gAZABvcKFw">Youtube</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.instagram.com/evkxnet/">Instagram</a>
                </li>
              </ul>
              <a class="navbar-brand" href="/">
                <img class="img-fluid mx-auto d-block" src="/images/evkxblacktrans_m.png" alt="EVKX logo">
              </a>
          </footer>
        </div> <!-- End container -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
