<h3>Guides</h2>
    <p>Tips, guides and advices about electric cars</p>

    <ul class="list-group">
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="/guides/evsearch/" class="a-list-rowLink">
                EV Search
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="/guides/protectingbattery/" class="a-list-rowLink">
                Preserving battery
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="/guides/understandingrange/" class="a-list-rowLink">
                Understanding range
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="/guides/vehicletypes/" class="a-list-rowLink">
                Vehicletypes
            </a>
        </li>
    </ul>