  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "meta.html" . }}
    {{if .IsHome}}
    <title>evkx.net</title>
    {{else}}
    <title>{{ .Title }} :: evkx.net</title>
    {{end}}
    <link rel="shortcut icon" href="{{" images/favicon.png" | relURL}}" type="image/x-icon" />
    <link href="{{"css/bootstrap.min.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/photoswipe.css" | relURL}}" rel="stylesheet">
		{{ partial "googleanalytics.html" . }}
    {{ partial "addsenseauto.html" . }}
  </head>
 
