<div class="container p-3 mb-4 bg-body-tertiary rounded border">
<h2 class="a-h3">{{ T "common-section-latest-reviews"}}</h2>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/volvo/ex30/ex30_twin_motor_performance/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/TICbLRB8DzA/sddefault.jpg" alt="Volvo EX30 Twin Performance Ultra driving impressions and summary" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Volvo EX30 Twin Performance Ultra driving impressions and summary</h5>
				<p>Bjørn Nyland - 21.04.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/volvo/ex30/ex30_twin_motor_performance/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/uktrseUA1QA/sddefault.jpg" alt="I drove Volvo EX30 until the battery died" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>I drove Volvo EX30 until the battery died</h5>
				<p>Bjørn Nyland - 20.04.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/volvo/ex30/ex30_twin_motor_performance/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/rDrJKmSRBFQ/sddefault.jpg" alt="Volvo EX30 interior review" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Volvo EX30 interior review</h5>
				<p>Bjørn Nyland - 19.04.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/alfa_romeo/junior/junior/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/M6G7JaeVUjw/sddefault.jpg" alt="MilaNO love for the Alfa junior? We check out Alfa Romeo’s first electric car" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>MilaNO love for the Alfa junior? We check out Alfa Romeo’s first electric car</h5>
				<p>Electrifying - 18.04.2024</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/volvo/ex30/ex30_twin_motor_performance/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/egPIwY0sBOs/sddefault.jpg" alt="Volvo EX30 Twin Performance Ultra 1000 km challenge" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Volvo EX30 Twin Performance Ultra 1000 km challenge</h5>
				<p>Bjørn Nyland - 18.04.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/volvo/ex30/ex30_twin_motor_performance/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/Bk4X_utho9g/sddefault.jpg" alt="Volvo EX30 69 kWh charging test" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Volvo EX30 69 kWh charging test</h5>
				<p>Bjørn Nyland - 17.04.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/volvo/ex30/ex30_twin_motor_performance/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/sS4pPPLU6V0/sddefault.jpg" alt="Volvo EX30 Twin Performance Ultra 90-10 % acceleration test" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Volvo EX30 Twin Performance Ultra 90-10 % acceleration test</h5>
				<p>Bjørn Nyland - 17.04.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/cadillac/lyriq/lyriq_awd/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/Ku_x71Rs8ZM/sddefault.jpg" alt="The 2024 Cadillac Lyriq AWD Is The Ultimate Electric Caddy For The Modern Era" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>The 2024 Cadillac Lyriq AWD Is The Ultimate Electric Caddy For The Modern Era</h5>
				<p>Redline Reviews - 16.04.2024</p>
		</div>
	</div>
	</div>
