<div class="container p-3 mb-4 bg-body-tertiary rounded border">
<h2 class="a-h3">{{ T "common-section-latest-reviews"}}</h2>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/kia/ev3/ev3_long_range/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/flwOiCwq_Jw/sddefault.jpg" alt="Kia EV3 prøvekjørt i Portugal" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Kia EV3 prøvekjørt i Portugal</h5>
				<p>Nybiltester - 23.11.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/cupra/born/born_vz/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/DxsR2_fEflE/sddefault.jpg" alt="Accelerating the Cupra Born VZ from 0-100 km/h (0-62mph)" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Accelerating the Cupra Born VZ from 0-100 km/h (0-62mph)</h5>
				<p>Battery Life - 23.11.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/kia/ev6/ev6_long_range_awd/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/AhpuMqt0Y60/sddefault.jpg" alt="Kia EV6 AWD facelift range test" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Kia EV6 AWD facelift range test</h5>
				<p>Bjørn Nyland - 22.11.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/hyundai/ioniq_9/ioniq_9_awd_performance/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/lYkfrUtz8c8/sddefault.jpg" alt="Hyundai Ioniq 9: Why Wait For A Range Rover??" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Hyundai Ioniq 9: Why Wait For A Range Rover??</h5>
				<p>Fully Charged Show - 22.11.2024</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/byd/sealion_7/sealion_7_excellence/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/4fv0p7nY_Dk/sddefault.jpg" alt="Prøvekjøring BYD Seal Sealion: Skal stjele kunder fra Tesla" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Prøvekjøring BYD Seal Sealion: Skal stjele kunder fra Tesla</h5>
				<p>Norsk elbilforening - 21.11.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/porsche/macan/macan_4/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/PhjzzrRWMxQ/sddefault.jpg" alt="Porsche Macan Electric - A stunning compromise | Full Review" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Porsche Macan Electric - A stunning compromise | Full Review</h5>
				<p>It's Only Electric - 21.11.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/hyundai/ioniq_9/ioniq_9_awd_performance/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/y9wg_nztBZ4/sddefault.jpg" alt="Hyundai IONIQ 9 First Tour! Charging, Space, Tech, &amp; Design" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Hyundai IONIQ 9 First Tour! Charging, Space, Tech, &amp; Design</h5>
				<p>Out of Spec Reviews - 21.11.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/cupra/born/born_vz/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/nTerEWlaN9U/sddefault.jpg" alt="Getting to know the Cupra Born VZ (79kWh) on a rainy cold trip" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Getting to know the Cupra Born VZ (79kWh) on a rainy cold trip</h5>
				<p>Battery Life - 21.11.2024</p>
		</div>
	</div>
	</div>
