<div class="container p-3 mb-4 bg-body-tertiary rounded border">
<h2 class="a-h3">{{ T "common-section-latest-reviews"}}</h2>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/jaguar/i-pace/i-pace_ev400/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/3huobbAsAZU/sddefault.jpg" alt="Jaguar I-Pace Review: Still Worth It In 2024?" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Jaguar I-Pace Review: Still Worth It In 2024?</h5>
				<p>AutoTrader - 06.02.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/kia/ev9/ev9_long_range_awd/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/5zSDy3nNKVQ/sddefault.jpg" alt="New Kia EV9 review: Cancel your Range Rover!" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>New Kia EV9 review: Cancel your Range Rover!</h5>
				<p>carwow - 06.02.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/hiphi/x/x_6_seater/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/Au6wPx5uzYk/sddefault.jpg" alt="HiPhi X range test and more" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>HiPhi X range test and more</h5>
				<p>Bjørn Nyland - 05.02.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/hiphi/x/x_6_seater/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/_wy1Fxz4PTQ/sddefault.jpg" alt="HiPhi X charging test with lots of issues" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>HiPhi X charging test with lots of issues</h5>
				<p>Bjørn Nyland - 04.02.2024</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/hiphi/x/x_6_seater/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/N3iap-JQyMA/sddefault.jpg" alt="HiPhi X projector and matrix headlights test" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>HiPhi X projector and matrix headlights test</h5>
				<p>Bjørn Nyland - 04.02.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/kia/ev6/ev6_gt/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/8Txzu_jEaqw/sddefault.jpg" alt="Can Kia's EV6 Drive Europe's Longest Road? The FULL Challenge" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Can Kia's EV6 Drive Europe's Longest Road? The FULL Challenge</h5>
				<p>Fifth Gear - 04.02.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/tesla/cybertruck/cybertruck_awd/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/p1139Jexyz8/sddefault.jpg" alt="People Say the Tesla Cybertruck Just CAN'T Tow. They're WRONG, But..." class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>People Say the Tesla Cybertruck Just CAN'T Tow. They're WRONG, But...</h5>
				<p>The Fast Lane Truck - 04.02.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/hiphi/x/x_6_seater/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/w5qrqyV8P5M/sddefault.jpg" alt="HiPhi X banana box test" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>HiPhi X banana box test</h5>
				<p>Bjørn Nyland - 03.02.2024</p>
		</div>
	</div>
	</div>
