<h3>Top 10 most sold models</h3>
<p>Read about the most sold models.</p>

<ul class="list-group list-group-numbered">
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/models/tesla/model_y/">
            Tesla Model Y
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/models/volkswagen/id.4/">
            Volkswagen ID.4
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/models/skoda/enyaq_iv/">
            Skoda Enyaq
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/models/bmw/ix/">
            BMW iX
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/models/hyundai/ioniq_5/">
            Hyundai Ioniq 5
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/models/audi/q8_e-tron/">
            Audi Q8 e-tron
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/models/audi/q4_e-tron/">
            Audi Q4 e-tron
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/models/hyundai/ioniq_6/">
            Hyundai Ioniq 6
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/models/tesla/model_3/">
            Tesla Model 3
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/models/polestar/2/">
            Polestar 2
        </a>
    </li>
</ul>