<div class="container">
	<div class="row">
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/porsche/taycan/taycan_gts/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/porsche/taycan/taycan_gts/main_1_st.jpg" width="800" height="449" class="img-fluid image-cropped-calc">
				</div>
				<h4>Porsche Taycan GTS</h4>
				<p>{{T "frontpage-description-6277a297"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/hyundai/ioniq_5/ioniq_5_long_range_awd/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/hyundai/ioniq_5/ioniq_5_long_range_awd/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Hyundai Ioniq 5 Long Range AWD</h4>
				<p>{{T "frontpage-description-422c1513"}}</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/lucid/gravity/gravity_grand_touring/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/lucid/gravity/gravity_grand_touring/main_1_st.jpeg" width="800" height="535" class="img-fluid image-cropped-calc">
				</div>
				<h4>Lucid Gravity Grand Touring</h4>
				<p>{{T "frontpage-description-540acf6b"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/alpine/a290/a290_gt/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/alpine/a290/a290_gt/main_1_st.jpg" width="800" height="400" class="img-fluid image-cropped-calc">
				</div>
				<h4>Alpine A290 GT</h4>
				<p>{{T "frontpage-description-ec69525c"}}</p>
			</a>
		</div>
	</div>
	</div>
