<div class="container">
	<div class="row">
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/byd/seagull/seagull_38kwh/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/byd/seagull/seagull_38kwh/main_1_st.jpg" width="800" height="589" class="img-fluid image-cropped-calc">
				</div>
				<h4>BYD Seagull 38kWh</h4>
				<p>{{T "frontpage-description-a8e9d5b4"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/volvo/em90/em90/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/volvo/em90/em90/main_1_st.jpg" width="800" height="601" class="img-fluid image-cropped-calc">
				</div>
				<h4>Volvo EM90</h4>
				<p>{{T "frontpage-description-5a24e938"}}</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/xpeng/g6/g6_awd_performance/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/xpeng/g6/g6_awd_performance/main_1_st.jpg" width="800" height="468" class="img-fluid image-cropped-calc">
				</div>
				<h4>XPENG G6 AWD Performance</h4>
				<p>{{T "frontpage-description-f2ab9bce"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/zeekr/009/009_me_edition/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/zeekr/009/009_me_edition/main_1_st.jpg" width="800" height="450" class="img-fluid image-cropped-calc">
				</div>
				<h4>Zeekr 009 ME Edition</h4>
				<p>{{T "frontpage-description-4564fd05"}}</p>
			</a>
		</div>
	</div>
	</div>
