<div class="container">
	<div class="row">
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/dongfeng/nammi_box/nammi_box_31.4kwh/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/dongfeng/nammi_box/nammi_box_31.4kwh/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Dongfeng Nammi Box 31.4kWh</h4>
				<p>{{T "frontpage-description-03e65c3a"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/dongfeng/nammi_box/nammi_box_42.3kwh/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/dongfeng/nammi_box/nammi_box_42.3kwh/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Dongfeng Nammi Box 42.3kWh</h4>
				<p>{{T "frontpage-description-4e73e93e"}}</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/hyundai/ioniq_9/ioniq_9_awd_long_range/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/hyundai/ioniq_9/ioniq_9_awd_long_range/main_1_st.jpg" width="800" height="449" class="img-fluid image-cropped-calc">
				</div>
				<h4>Hyundai IONIQ 9 AWD Long Range</h4>
				<p>{{T "frontpage-description-848fafbf"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/cadillac/vistiq/vistiq_awd/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/cadillac/vistiq/vistiq_awd/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Cadillac VISTIQ AWD</h4>
				<p>{{T "frontpage-description-2428b555"}}</p>
			</a>
		</div>
	</div>
	</div>
