<h3>Technology</h3>
<p>Learn about all technology in EV's</p>
<ul class="list-group">
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/technology/battery/">
            Battery
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/technology/driverassistance/">
            Advanced Driver Assistance Systems
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/technology/motors/">
            Electric motors
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/technology/suspension/">
            Suspension
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/technology/brakes">
            Brakes
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/technology/lights/">
            Lights
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/technology/regen/">
            Regenerative braking
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/technology/seats/">
            Seats
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/technology/sensorsandcameras/">
            Sensors & Cameras
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="/technology/userinterface/">
            User interface
        </a>
    </li>
</ul>