<h3>Technology</h3>
<p>Learn about all technology in EV's</p>
<ul class="list-group">
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/battery/`}}{{.RelPermalink}}{{end}}">
            Battery
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/driverassistance/`}}{{.RelPermalink}}{{end}}">
            Advanced Driver Assistance Systems
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/motors/`}}{{.RelPermalink}}{{end}}">
            Electric motors
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/suspension/`}}{{.RelPermalink}}{{end}}">
            Suspension
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/brakes`}}{{.RelPermalink}}{{end}}">
            Brakes
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/lights/`}}{{.RelPermalink}}{{end}}">
            Lights
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/regen/`}}{{.RelPermalink}}{{end}}">
            Regenerative braking
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/seats/`}}{{.RelPermalink}}{{end}}">
            Seats
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/sensorsandcameras/`}}{{.RelPermalink}}{{end}}">
            Sensors & Cameras
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/userinterface/`}}{{.RelPermalink}}{{end}}">
            User interface
        </a>
    </li>
</ul>