<div class="container">
	<div class="row">
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/volkswagen/id.7/id.7_tourer_pro_s/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/volkswagen/id.7/id.7_tourer_pro_s/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Volkswagen ID.7 Tourer Pro S</h4>
				<p>{{T "frontpage-description-f24e04cd"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/volkswagen/id.7/id.7_tourer_pro/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/volkswagen/id.7/id.7_tourer_pro/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Volkswagen ID.7 Tourer Pro</h4>
				<p>{{T "frontpage-description-62414ec7"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/vinfast/vf8/vf8_eco/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/vinfast/vf8/vf8_eco/main_1_st.jpg" width="800" height="449" class="img-fluid image-cropped-calc">
				</div>
				<h4>VinFast VF8 Eco</h4>
				<p>{{T "frontpage-description-c21dd820"}}</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/vinfast/vf8/vf8_plus/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/vinfast/vf8/vf8_plus/main_1_st.jpg" width="800" height="449" class="img-fluid image-cropped-calc">
				</div>
				<h4>VinFast VF8 Plus</h4>
				<p>{{T "frontpage-description-c57491dd"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/lancia/ypsilon/ypsilon/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/lancia/ypsilon/ypsilon/main_1_st.jpg" width="800" height="450" class="img-fluid image-cropped-calc">
				</div>
				<h4>Lancia Ypsilon</h4>
				<p>{{T "frontpage-description-5b7a133a"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/polestar/4/4_long_range_single_motor/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/polestar/4/4_long_range_single_motor/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Polestar 4 Long range Single motor</h4>
				<p>{{T "frontpage-description-f069a415"}}</p>
			</a>
		</div>
	</div>
	</div>
