<div class="container">
	<div class="row">
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/dacia/spring/spring_65hp/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/dacia/spring/spring_65hp/main_1_st.jpg" width="800" height="452" class="img-fluid image-cropped-calc">
				</div>
				<h4>Dacia Spring 65HP</h4>
				<p>{{T "frontpage-description-6fb4c17f"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/cupra/born/born_vz/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/cupra/born/born_vz/main_1_st.jpg" width="800" height="457" class="img-fluid image-cropped-calc">
				</div>
				<h4>CUPRA BORN VZ</h4>
				<p>{{T "frontpage-description-fa4ec0c9"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/volkswagen/id.7/id.7_tourer_pro_s/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/volkswagen/id.7/id.7_tourer_pro_s/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Volkswagen ID.7 Tourer Pro S</h4>
				<p>{{T "frontpage-description-f24e04cd"}}</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/volkswagen/id.7/id.7_tourer_pro/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/volkswagen/id.7/id.7_tourer_pro/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Volkswagen ID.7 Tourer Pro</h4>
				<p>{{T "frontpage-description-62414ec7"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/vinfast/vf8/vf8_eco/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/vinfast/vf8/vf8_eco/main_1_st.jpg" width="800" height="449" class="img-fluid image-cropped-calc">
				</div>
				<h4>VinFast VF8 Eco</h4>
				<p>{{T "frontpage-description-c21dd820"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/vinfast/vf8/vf8_plus/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/vinfast/vf8/vf8_plus/main_1_st.jpg" width="800" height="449" class="img-fluid image-cropped-calc">
				</div>
				<h4>VinFast VF8 Plus</h4>
				<p>{{T "frontpage-description-c57491dd"}}</p>
			</a>
		</div>
	</div>
	</div>
