<div class="container">
	<div class="row">
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/porsche/taycan/taycan/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/porsche/taycan/taycan/main_1_st.jpg" width="800" height="449" class="img-fluid image-cropped-calc">
				</div>
				<h4>Porsche Taycan</h4>
				<p>{{T "frontpage-description-b65ba1f0"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/bmw/ix2/ix2_edrive20/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/bmw/ix2/ix2_edrive20/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>BMW iX2 eDrive20</h4>
				<p>{{T "frontpage-description-268cd381"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/bmw/i5/i5_xdrive40/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/bmw/i5/i5_xdrive40/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>BMW i5 xDrive40</h4>
				<p>{{T "frontpage-description-63ce3f7e"}}</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/opel/astra/astra_electric/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/opel/astra/astra_electric/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Opel Astra Electric</h4>
				<p>{{T "frontpage-description-b279832a"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/opel/astra/astra_sports_tourer_electric/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/opel/astra/astra_sports_tourer_electric/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Opel Astra Sports Tourer Electric</h4>
				<p>{{T "frontpage-description-7f7a00b6"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/peugot/308/e-308_sw/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/peugot/308/e-308_sw/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Peugot E-308 SW</h4>
				<p>{{T "frontpage-description-1beeb3ae"}}</p>
			</a>
		</div>
	</div>
	</div>
