<div class="container">
	<div class="row">
		<div class="col-12">
				<div class="mb-2">
			<a href="{{ with .Site.GetPage `/models/lucid/gravity/gravity_dream_edition/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/lucid/gravity/gravity_dream_edition/main_1_mt.jpeg" width="1200" height="0" class="img-fluid">
				</div>
				<h4>Lucid Gravity Dream Edition</h4>
				<p>{{T "frontpage-description-787a8d37"}}</p>
			</a>
		</div>
	</div>
</div>
