<div class="container">
	<div class="row">
		<div class="col-12">
				<div class="mb-2">
			<a href="{{ with .Site.GetPage `/models/tesla/cybertruck/cybertruck_awd/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/tesla/cybertruck/cybertruck_awd/main_1_mt.jpg" width="1200" height="900" class="img-fluid">
				</div>
				<h4>Tesla Cybertruck AWD</h4>
				<p>{{T "frontpage-description-7a7eff1d"}}</p>
			</a>
		</div>
	</div>
</div>
