<div class="container">
	<div class="row">
		<div class="col-12">
				<div class="mb-2">
			<a href="{{ with .Site.GetPage `/models/genesis/gv70/electrified_gv70/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/genesis/gv70/electrified_gv70/main_1_mt.jpg" width="1200" height="600" class="img-fluid">
				</div>
				<h4>Genesis Electrified GV70</h4>
				<p>{{T "frontpage-description-50bcf160"}}</p>
			</a>
		</div>
	</div>
</div>
